/* Reset Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilização Geral */
body {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #000000, #006400);
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #004000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}

.logo {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.search-bar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 70%;
  max-width: 300px;
}

.search-bar button {
  padding: 5px 10px;
  color: #368046;
  background-color: #8dc84e;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  font-family: 'Gill Sans', sans-serif;
}

header img {
  width: 50px;
  height: auto;
}

/* Links */
a {
  color: #25843b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #366251;
}

/* Títulos e Textos */
h1, h2, h3 {
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

h1 {
  margin-top: 10vh;
  width: 700px;
  height: 121px;
  font-size: 2.5rem;
  color: #F5F5F7;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
  color: #C7C7C7;
}

/* Detalhes do Filme */
#movieDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  background-color: #1C1C1E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  margin-top: 20px;
  max-width: 900px;
  width: 100%;
}

#movieDetails img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #C7C7C7;
}

.movie-info h2 {
  font-size: 2rem;
  color: #F5F5F7;
}

.movie-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: #A3A3A6;
}

/* Seção Adicional */
.additional-section {
  margin-top: 20px;
  text-align: center;
}

.additional-section h1 {
  font-size: 1.5rem;
  color: #F5F5F7;
}

.additional-section a {
  color: #25843b;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  display: block;
  margin-top: 10px;
}

.additional-section a:hover {
  color: #366251;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #004d00;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #1e2e13;
}

.sidebar .closebtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 36px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar .closebtn:hover {
  color: #126130;
}

.sidebar.open {
  width: 250px;
}

.open-sidebar-btn {
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1002;
}

.open-sidebar-btn:hover {
  color: #ccc;
}

/* Pop-up de Avaliação */
#modalBackground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

#reviewSection {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.822);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  z-index: 1100;
}

#reviewSection h3 {
  margin-bottom: 20px;
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: #ccc;
}

.star:hover,
.star.selected {
  color: #17641d;
}

textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #25843b;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #366251;
}

#closeModalButton {
  background-color: #d9534f;
  margin-top: 10px;
}
