/* Reset Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilização Geral */
body {
  font-family: 'Arial', sans-serif;
  background: #0B0B0D; /* Fundo escuro elegante */
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: #1C1C1E;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header img {
  width: 50px;
  height: auto;
}

/* Links */
a {
  color: #25843b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #366251;
}

/* Títulos e Textos */
h1, h2, h3 {
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

h1 {
  font-size: 2.5rem;
  color: #F5F5F7;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
  color: #C7C7C7;
}

/* Container Principal do Filme */
#movieDetails {
  display: flex;
  flex-direction: row; /* Mantém o layout em linha */
  align-items: center;
  gap: 20px; /* Espaçamento entre a imagem e as informações */
  background-color: #1C1C1E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  margin-top: 20px;
  max-width: 900px;
  width: 100%;
}

/* Imagem da Capa */
#movieDetails img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

/* Informações do Filme */
.movie-info {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os textos */
  justify-content: center;
  color: #C7C7C7;
}

.movie-info h2 {
  font-size: 2rem;
  color: #F5F5F7;
}

.movie-info p {
  font-size: 1rem;
  color: #A3A3A6;
}

/* Frase de Avaliação e Link */
.review-section {
  margin-top: 20px;
  text-align: center;
  color: #F5F5F7;
}

.review-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.review-section a {
  display: block; /* Garante que o link fique abaixo */
  margin-top: 10px;
  color: #25843b;
  font-weight: bold;
  text-decoration: none;
}

.review-section a:hover {
  color: #366251;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

textarea {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: #1C1C1E;
  color: #FFFFFF;
  resize: none;
}

textarea::placeholder {
  color: #A3A3A6;
}

button {
  background-color: #25843b; 
  color: #FFF;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #366251;
}
