* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #000000, #000000, #006400);
  color: white;
  text-align: center;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}

header {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px 20px;
  background-color: #004000;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0; 
  bottom: 93%;
  z-index: 1000; 
}

/* Logo no canto esquerdo */
.logo {
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
}

/* Posiciona a barra de pesquisa no centro */
.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-bar button {
  padding: 5px;
  cursor: pointer;
  color: #368046;
  background-color: #8dc84e;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section img {
  margin-top: 10vh;
  width: 700px;
  height: 121px;
}

h1 {
  font-size: 2rem;
  margin: 40px 0;
  font-family: 'Times New Roman', Times, serif;
}

.movies-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15vh;
  text-align: justify;
}

button {
  padding: 5px;
  cursor: pointer;
  color: #368046;
  background-color: #8dc84e;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de hover */
.movie:hover {
  transform: scale(1.1); /* Aumenta o tamanho */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Adiciona sombra */
}

.movie img {
  width: 150px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-title {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #004d00;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #555;
}

.sidebar .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  color: white;
}

/* Abre a sidebar */
.sidebar.open {
  width: 250px; /* Defina a largura desejada */
}

/* Efeito de botão para abrir a sidebar */
.open-sidebar-btn {
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px; /* Posiciona o botão no canto esquerdo */
}

.open-sidebar-btn:hover {
  color: #ccc;
}
