
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #4d6420;
    cursor: url(logo.png),auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #14421ed5;
    border-bottom: 1px solid #ddd;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #0d2009;
    font-weight: bold;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.user-options a {
    margin-left: 15px;
    text-decoration: none;
    color: #cee4c6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.user-options img {
    width: 20px;
    vertical-align: middle;
}

.banner img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #cee4c6;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

body {
    background-color: rgb(0, 0, 0);
}

a {
    margin-bottom: 500;
    margin-left: 50;
    margin-right: 50;
    text-align: center;
    text-decoration: none;
    
}
.container {
    margin-top: 25;
    display: flex;
    position: relative;
    height: 90vh;
}
.imgpb {
    filter: grayscale(100%);
}

.imgpb:hover {
    filter: grayscale(0%);
}
th{
    font-size: x-large; color: antiquewhite; font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
tr{


    top: 50%;
    left: 50%;
    right: 50%;
   

}
td{
    height: 260px; padding-right: 25; margin-right: 50vh;  text-align: center;
}

table{
    text-align: center; width: 90%;
}
.box {
    width: 500px;
    height: 350px;
    background-color: grey; 
    display: flex;

    align-items: center;
    border-radius: 10px; 
  }
  
  p {
    color: rgb(6, 24, 7); 
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  



