<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
    <link rel="stylesheet" href="/login/css/pesquisa.css">
</head>

<body>
    <div class="pesquisa">
        <h1>Busca de Filmes</h1>
        <input type="text" id="searchQuery" placeholder="Digite o nome do filme">
        <button onclick="searchMovie()">Buscar</button>
    </div>
    
    <div id="movieResults"></div>

    <script src="/login/controller/script.js"></script>
</body>

</html>