<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="login-section">
            <h2>CADASTRO</h2>
            <form action="../model/cadastro.php" method="POST">
                <div class="input-group">
                    <input type="text" id="username" name="username" placeholder="Usuário" required>
                </div>
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="Email" required >
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="senha" placeholder="Senha" required maxlength="20" minlength="5">
                </div>
                <div class="input-group">
                    <input class="btn btn-primary" type="submit" value="Cadastrar" >
                    
                </div>
               
            </form>

            
        </div>
        <div class="illustration-section">
            <img src="../imagens/lemonlemon2.png" alt="Ilustração">
        </div>
        
    </div>

</body>
</html>