<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentários</title>
    <link rel="stylesheet" href="../css/avaliar.css">
</head>

<body>
    <div id="movieDetails"></div>
    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            
    const movieTitle = localStorage.getItem('movieTitle'); // Recupera o título armazenado

    const movieDetailsDiv = document.getElementById('movieDetails');
    if (movieTitle) {
        movieDetailsDiv.innerHTML = `
            <h2>Esses são os comentários do filme: "${movieTitle}"</h2>
        
        `;
    } else {
        movieDetailsDiv.innerHTML = '<p>O título do filme não foi encontrado.</p>';
    }
});

    </script>
</body>

</html>