<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
   
    <div class="container">
        <div class="login-section">
            <h2>Bem Vindo</h2>
            <form action="../model/login.php" method="POST">
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="senha" placeholder="Senha" required>
                </div>
                <div class="input-group">
                    <input class="btn btn-primary" type="submit" value="Entrar">
                </div>
                <a href=../view/envioEmailJS.html>Esqueci minha senha</a> <br><br>
                <a href="../view/cadastro.html">Não possui uma conta? Registre-se</a>
                
               
            </form>

            
        </div>
        <div class="illustration-section">
            <img src="../imagens/lemonlemon2.png" alt="Ilustração">
        </div>
        
    </div>

</body>
</html>